{% extends "layout/basic.html" %}
{% load static %}
{% block title %}
    用户登录
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .account .error-msg {
            color: red;
            font-size: 12px;
            position: absolute;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="account">
        <div class="title">用户登录</div>
        <form id="login_form" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="row clearfix">
                            <div class="col-xs-7">
                                {{ field }}
                                <span class="error-msg">{{ field.errors.0 }}</span>
                            </div>
                            <div class="col-xs-5">
                                <img src="/image/code/" id="imageCode" title="点击更换图片">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg">{{ field.errors.0 }}</span>
                    </div>
                {% endif %}
            {% endfor %}

            <input id="btnSubmit" type="submit" class="btn btn-primary" value="登  录">
        <div style="float: right;margin-top: 5px">
            <a href="{% url 'login_code' %}">邮箱验证码登录？</a>
        </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(function () {
            $("#imageCode").click(function () {
                var oldSrc = $(this).attr('src')
                $(this).attr('src', oldSrc + "?")
            })
        })

    </script>
{% endblock %}